// VITE URL

// Backend
#VITE_API_URL= isi dengan url backend yang sudah di deploy atau bisa gunakan localhost jika ingin menjalankan secara lokal

// Supabase
#VITE_SUPABASE_URL= isi dengan url supabase yang sudah dibuat
#VITE_SUPABASE_ANON_KEY= isi dengan anon key supabase yang sudah dibuat

// Frontend
#VITE_APP_URL= url untuk frontend yang sudah di deploy atau bisa gunakan localhost jika ingin menjalankan secara lokal
